/**
 * 加载 层
 */
$loading-layer: 1000;

/**
 * 当前操作的层
 */
$current-layer: 900;

/**
 * 分支 层
 */
$branch-layer: 700;

/**
 * 主 层
 */
$main-layer: 899;

/**
 * 技能 层
 */
$skill-layer: 800;

/**
 * 组 层
 */
$chat-layer: 300;

/**
 * 工具栏 层
 */
$util-layer: 200;

/**
 * 模态框 层
 */
$modal-layer: 2000;

.util-layer {
	position: fixed;
	z-index: $util-layer;

	> * {
		display: none;
	}
}

.modal-layer {
	position: fixed;
	z-index: $modal-layer;
}

