/**
 * 绿色
 */
$color_beryl_darken: rgba(107, 219, 205, 1);
$color_beryl: rgba(128, 237, 222, 1);
$color_grass: rgba(159, 219, 209, 1);

/**
 * 黄色
 */
$color_sun: rgba(242, 229, 144, 1);
$color_sunshine: rgba(248, 244, 208, 1);

/**
 * 蓝色
 */
$color_uniform: rgba(77, 104, 153, 1);
$color_sky: rgba(47, 167, 192, 1);

$color_sky_lighten: rgba(144, 182, 207, 1);
$color_sky_darken: rgba(103, 169, 207, 1);

/**
 * 皮肤
 */
$color_skin: rgba(239, 215, 208, 1);

/**
 * 红色
 */
$color_claret: rgba(124, 72, 77, 1);

/**
 * 紫色
 */
$color_grape: rgba(164, 142, 146, 1);
$color_grape_darken: rgba(140, 116, 118, 1);
$color_grape_lighten: rgba(192, 182, 184, 1);

/**
 * 粉色
 */
$color_rainbow: rgba(213, 116, 131, 1);
$color_ribbon: rgba(226, 178, 173, 1);
$color_ribbon_darken: rgba(236, 152, 143, 1);
$color_ribbon_lighten: rgba(234, 216, 207, 1);
$color_pink: rgba(226, 186, 187, 1);

/**
 * 白色
 */
$color_white: rgba(255, 255, 255, 1);
$color_kumo: rgba(223, 232, 210, 1);
$color_wave: rgba(220, 238, 229, 1);










/**
 * 灰色
 */
 $color_dark_gray: rgba(101, 109, 120, 1);
 $color_dark_gray_darken: rgba(67, 74, 84, 1);

 $color_medium_gray: rgba(204, 209, 217, 1);
 $color_medium_gray_darken: rgba(170, 178, 189, 1);

$color_light_gray: rgba(245, 247, 250, 1);
$color_light_gray_darken: rgba(230, 233, 237, 1);

/**
 * 紫色
 */
$color_lavender: rgba(172, 146, 236, 1);
$color_lavender_darken: rgba(150, 122, 220, 1);

/**
 * 蓝色
 */
$color_aqua: rgba(79, 193, 233, 1);
$color_aqua_darken: rgba(59, 175, 218, 1);

$color_rem: rgba(93, 156, 236, 1);
$color_rem_darken: rgba(74, 137, 220, 1);

/**
 * 粉色
 */
$color_ram: rgba(236, 135, 192, 1);
$color_ram_darken: rgba(215, 112, 173, 1);
