@import '_colors';

@import '_irodori';

/* 图层管理 */
@import '_layer';

@import 'components/_search';
@import 'components/_mask';
@import 'components/_modal';
@import 'components/_util';
@import 'components/_branch';
@import 'components/_prototype';
@import 'components/_chat';
@import 'components/_skill';
@import 'components/_main';

@import '_test';

html, body {
	height: 100%;
}

 #satori  {
 	width: 100%;
 	height: 100%;
 }
