@charset "UTF-8";
/**
 * 绿色
 */
/**
 * 黄色
 */
/**
 * 蓝色
 */
/**
 * 皮肤
 */
/**
 * 红色
 */
/**
 * 紫色
 */
/**
 * 粉色
 */
/**
 * 白色
 */
/**
 * 灰色
 */
/**
 * 紫色
 */
/**
 * 蓝色
 */
/**
 * 粉色
 */
/**
 * 表单 输入 行

<div class="r-input-line i-input-line">
	<span class="name"></span>
	<input class="input">
	<span class="condition"></span>
</div>
 */
.r-result-error, .r-result-success, .r-result-normal {
  display: block;
  font-size: 12px;
  line-height: 25px;
}

.r-result-error {
  color: #7c484d;
}

.r-result-success {
  color: #6bdbcd;
}

.r-result-normal {
  color: #ac92ec;
}

.r-submit {
  display: block;
  color: #4fc1e9;
  border: 1px solid #3bafda;
  border-radius: 5px;
}

.r-input {
  display: block;
  padding: 0 5px;
  height: 25px;
  border: 1px solid #4fc1e9;
  font-size: 12px;
}

 /* .r-input-array {
 	.r-input-line {
 		line-height: 25px;
 		.name {
 			display: block;
 			height: 25px;
 			font-size: 12px;
 		}
 		.input {
 			display: block;
 			padding: 0 5px;

 			height: 25px;
 			border: 1px solid rgba($color_uniform, 1);

 			font-size: 12px;
 		}
 		.condition {
 			display: block;
 			height: 25px;

 			font-size: 12px;
 		}
 	}
 } */
/**
 * 表单 选择项 行
 */
.r-option-line .input {
  display: block;
  padding: 0 5px;
  height: 25px;
  border: 1px solid #4d6899;
  font-size: 12px;
}

/* 图层管理 */
/**
 * 加载 层
 */
/**
 * 当前操作的层
 */
/**
 * 分支 层
 */
/**
 * 主 层
 */
/**
 * 技能 层
 */
/**
 * 组 层
 */
/**
 * 工具栏 层
 */
.search-component > .top {
  text-align: center;
}
.search-component > .top .search-keyword {
  display: inline-block;
  font-size: 40px;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  letter-spacing: 5px;
  color: #ccd1d9;
  border-bottom: 2px solid rgba(204, 209, 217, 0.6);
}
.search-component > .bottom {
  position: relative;
}
.search-component > .bottom .search-result-list {
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out 0s;
  opacity: 0;
}
.search-component > .bottom .search-result-list .search-result-item {
  padding: 30px;
  box-sizing: border-box;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
.search-component > .bottom .search-result-list .type-user {
  width: 50%;
  border-right: 1px solid rgba(204, 209, 217, 0.6);
}
.search-component > .bottom .search-result-list .type-user .card-wrap {
  float: right;
  margin-right: 120px;
}
.search-component > .bottom .search-result-list .type-user .card-wrap .friend-invite {
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  background-color: rgba(93, 156, 236, 0.1);
  border: 1px solid #4a89dc;
  color: #5d9cec;
  transition: all 0.25s ease-in-out 0s;
  cursor: pointer;
}
.search-component > .bottom .search-result-list .type-user .card-wrap .friend-invite:hover {
  background-color: #5d9cec;
  color: white;
}
.search-component > .bottom .search-result-list .type-user .card-wrap .left {
  display: inline-block;
  vertical-align: top;
}
.search-component > .bottom .search-result-list .type-user .card-wrap .left .info-container {
  margin-right: 10px;
  font-size: 12px;
  text-align: right;
}
.search-component > .bottom .search-result-list .type-user .card-wrap .left .info-container .name {
  display: block;
  height: 25px;
  line-height: 25px;
}
.search-component > .bottom .search-result-list .type-user .card-wrap .left .info-container .info {
  display: block;
  line-height: 20px;
  max-width: 160px;
}
.search-component > .bottom .search-result-list .type-user .card-wrap .right {
  display: inline-block;
  vertical-align: top;
}
.search-component > .bottom .search-result-list .type-user .card-wrap .right .avatar-5x {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.search-component > .bottom .search-result-list .type-user:before {
  display: block;
  content: '';
  position: absolute;
  border-bottom: 1px solid #ccd1d9;
  width: 100px;
  right: 0;
  top: 55px;
}
.search-component > .bottom .search-result-list .type-user:after {
  display: block;
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #ec87c0;
  right: 100px;
  top: 50px;
}
.search-component > .bottom .search-result-list .type-project {
  float: right;
  position: relative;
  left: -1px;
  padding-left: 150px;
  border-left: 1px solid rgba(204, 209, 217, 0.6);
  width: 50%;
}
.search-component > .bottom .search-result-list .type-project .left {
  display: inline-block;
  vertical-align: top;
}
.search-component > .bottom .search-result-list .type-project .left .avatar-5x {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.search-component > .bottom .search-result-list .type-project .right {
  display: inline-block;
  vertical-align: top;
}
.search-component > .bottom .search-result-list .type-project .right .info-container {
  text-align: left;
  margin-left: 10px;
  font-size: 12px;
}
.search-component > .bottom .search-result-list .type-project .right .info-container .name {
  display: block;
  height: 25px;
  line-height: 25px;
}
.search-component > .bottom .search-result-list .type-project .right .info-container .info {
  display: block;
  line-height: 20px;
  max-width: 160px;
}
.search-component > .bottom .search-result-list .type-project:before {
  display: block;
  content: '';
  position: absolute;
  border-bottom: 1px solid #ccd1d9;
  width: 100px;
  left: 0;
  top: 55px;
}
.search-component > .bottom .search-result-list .type-project:after {
  display: block;
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #5d9cec;
  left: 100px;
  top: 50px;
}
.search-component > .bottom .end {
  position: relative;
  right: 1px;
  width: 50%;
  height: 100px;
  border-right: 1px solid rgba(204, 209, 217, 0.6);
}
.search-component > .bottom .end .end-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ac92ec;
  position: absolute;
  bottom: 0px;
  right: -10px;
}
.search-component > .bottom .end .end-tip {
  font-size: 12px;
  position: absolute;
  bottom: -25px;
  right: -25px;
  width: 50px;
}

.mask-layer {
  display: none;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.mask-layer .mask-component {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 600px;
  background-color: white;
  border: 1px solid #ccd1d9;
  box-shadow: 5px 5px 5px rgba(204, 209, 217, 0.5);
}

#mask-project-create > .top {
  background-color: rgba(204, 209, 217, 0.5);
  text-align: center;
}
#mask-project-create > .top .project-avatar {
  display: inline-block;
  margin: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccd1d9;
  background-color: white;
}
#mask-project-create > .bottom .card-item {
  margin: 15px 25px 50px 25px;
}
#mask-project-create > .bottom .card-item > .left {
  float: left;
  margin-right: 15px;
}
#mask-project-create > .bottom .card-item > .left .card-avatar-container {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid #3bafda;
  background-color: #4fc1e9;
  color: white;
}
#mask-project-create > .bottom .card-item > .left .card-avatar-container .card-avatar-5x {
  width: 50px;
  height: 50px;
}
#mask-project-create > .bottom .card-item > .right {
  overflow: hidden;
  line-height: 25px;
}
#mask-project-create > .bottom .card-item > .right .info-container .r-input {
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: #656d78;
}
#mask-project-create .operation-container .i-r-submit {
  margin: 0 25px 15px 25px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.modal-layer {
  position: fixed;
  right: 0;
  bottom: 100px;
  z-index: 20001;
}
.modal-layer .modal-list .modal-item {
  padding: 5px 50px 20px 5px;
  font-size: 12px;
  color: white;
  opacity: 0;
  transition: all 0.25s ease-in-out 0s;
}
.modal-layer .modal-list .modal-item .modal-item-accpet {
  padding: 5px 10px;
}
.modal-layer .modal-list .modal-item .modal-item-reject {
  padding: 5px 10px;
}
.modal-layer .modal-list .normal {
  background-color: rgba(67, 74, 84, 0.8);
}
.modal-layer .modal-list .success {
  background-color: rgba(0, 128, 0, 0.8);
}
.modal-layer .modal-list .error {
  background-color: rgba(124, 72, 77, 0.8);
}
.modal-layer .modal-list .info {
  background-color: rgba(74, 137, 220, 0.8);
}
.modal-layer .mask {
  display: none;
}

.util-layer .tab-component {
  display: none;
  position: absolute;
  border: 1px solid #a48e92;
  background-color: white;
  border-radius: 5px;
}

.util-layer .tab-component > .info {
  height: 25px;
  line-height: 25px;
  background-color: rgba(140, 116, 118, 0.5);
}

.util-layer .tab-component > .info .title .i-circle-5x {
  margin-right: 5px;
}

.util-layer .tab-component > .info .title {
  margin-left: 5px;
  font-size: 12px;
}

.slider {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(93, 156, 236, 0.3);
  pointer-events: none;
}

/**
 * 原型设计页面中的 技能栏 中的 菜单弹出层
 */
.util-layer {
  position: fixed;
  z-index: 900;
  /**
   * 标签页
   */
}
.util-layer .tab-component {
  width: 200px;
  height: 250px;
}
.util-layer .tab-component > .content {
  position: relative;
}
.util-layer .tab-component > .content > .i-slider {
  height: 25px;
}
.util-layer .tab-component > .content .tab-list .tab-item {
  padding-left: 5px;
  line-height: 25px;
  transition: all 0.25s ease-in-out 0s;
}
.util-layer .tab-component > .content .tab-list .tab-item .tab-item-link {
  display: block;
}
.util-layer .tab-component > .content .tab-list .active {
  color: white;
  background-color: #ac92ec;
}
.util-layer .tab-component > .content .satori-input {
  display: none;
  padding: 0 5px;
  height: 25px;
  line-height: 25px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #ac92ec;
  color: #aab2bd;
}
.util-layer .tab-component .menu-list {
  position: absolute;
  right: -42px;
  bottom: -1px;
}
.util-layer .tab-component .menu-list .satori-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ac92ec;
  background-color: rgba(172, 146, 236, 0.6);
  color: white;
}

/**
 * 分支
 */
.branch-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 700;
  pointer-events: none;
}
.branch-layer .branch-component {
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto 0;
  width: 800px;
  height: 100%;
}
.branch-layer .branch-component .branch-panel-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel {
  position: absolute;
  display: inline-block;
  margin: 50px 5px;
  font-size: 0;
  white-space: nowrap;
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .cross {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 22px;
  margin: auto 0;
  width: 100%;
  height: 2px;
  background-color: rgba(140, 116, 118, 0.5);
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .point-model {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  text-align: center;
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .point-model .update-time {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .point-model .sl-point {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(140, 116, 118, 0.5);
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .point-model .sl-point:before {
  position: absolute;
  left: -15px;
  top: -15px;
  content: '';
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .point-model .point-name {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .point-model:last-child {
  margin-right: 0;
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .point-add-wrap {
  position: absolute;
  top: 12px;
  display: inline-block;
}
.branch-layer .branch-component .branch-panel-wrap .branch-panel .point-add-wrap .point-add {
  width: 40px;
  height: 40px;
  border: 2px dotted rgba(140, 116, 118, 0.5);
  border-radius: 50%;
  background-color: #9fdbd1;
}

/**
 * 原型 层
 */
/**
 * 项目信息

 <div class="project">
 	<div class="left">
 		<div class="project-avatar-container">
 			<img class="project-avatar-5x">
 		</div>
 	</div>
 	<div class="right">
 		<h2 class="project-name"></h2>
 		<h3 class="project-intro"></h3>
 	</div>
 </div>

 */
.project .left {
  float: left;
  margin-right: 5px;
}
.project .left .project-avatar-container {
  border: 1px solid rgba(164, 142, 146, 0.1);
}
.project .left .project-avatar-container .project-avatar-5x {
  display: block;
  width: 58px;
  height: 58px;
}
.project .right {
  height: 60px;
}
.project .right .project-name {
  display: block;
  font-size: 14px;
}
.project .right .project-intro {
  display: block;
  font-size: 12px;
}

.message-tip {
  position: relative;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 0;
}
.message-tip .tip {
  margin: 0 10px;
  display: inline-block;
  font-size: 12px;
}
.message-tip .tip .i-circle-5x {
  margin-right: 10px;
}

/**
 *  原型装饰

 <i class="circle-5x i-circle-5x"></i>
 */
.circle-5x {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a48e92;
}

/**
 * 私信框
 */
.whisper-component-full {
  display: none;
  position: relative;
  height: 500px;
  width: 600px;
  border: 1px solid #a48e92;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #a48e92;
}
.whisper-component-full > .left {
  width: 160px;
  float: left;
}
.whisper-component-full > .left .friends-list {
  margin: 5px;
}
.whisper-component-full > .left .friends-list .friends-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.whisper-component-full > .left .friends-list .friends-item .friends-avatar-container {
  float: left;
  margin-right: 5px;
  font-size: 0;
}
.whisper-component-full > .left .friends-list .friends-item .friends-avatar-container .friends-avatar-5x {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.whisper-component-full > .left .friends-list .friends-item .friends-info {
  overflow: hidden;
}
.whisper-component-full > .left .friends-list .friends-item .friends-info .friends-name {
  height: 30px;
  line-height: 30px;
}
.whisper-component-full > .right {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.whisper-component-full > .right > .top > .friends-info .left {
  float: left;
  margin-right: 5px;
}
.whisper-component-full > .right > .top > .friends-info .left .friends-avatar-container {
  border: 1px solid rgba(164, 142, 146, 0.1);
}
.whisper-component-full > .right > .top > .friends-info .left .friends-avatar-container .friends-avatar-5x {
  display: block;
  width: 58px;
  height: 58px;
}
.whisper-component-full > .right > .top > .friends-info .right {
  height: 60px;
}
.whisper-component-full > .right > .top > .friends-info .right .friends-name {
  display: block;
  font-size: 14px;
}
.whisper-component-full > .right > .top > .friends-info .right .friends-intro {
  display: block;
  font-size: 12px;
}
.whisper-component-full > .right .chat-container {
  position: absolute;
  top: 60px;
  bottom: 140px;
  width: 100%;
  overflow: hidden;
}
.whisper-component-full > .right .chat-container .friend-message-item .friend-info .friend-name {
  display: block;
  height: 25px;
  line-height: 25px;
}
.whisper-component-full > .right .chat-container .message-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 100%;*/
}
.whisper-component-full > .right .chat-container .message-content .i-message-item {
  margin: 25px 5px;
}
.whisper-component-full > .right .chater-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.whisper-component-full > .right .chater-container .top {
  margin: 5px;
}
.whisper-component-full > .right .chater-container .top .option-container {
  margin-bottom: 5px;
  /* 文字处理选项 */
  /* 文字 IO 选项 */
}
.whisper-component-full > .right .chater-container .top .option-container .option-list {
  display: inline-block;
  font-size: 0;
}
.whisper-component-full > .right .chater-container .top .option-container .option-list .option-item {
  display: inline-block;
  margin-right: 10px;
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 25px;
  height: 25px;
  font-size: 12px;
  background-color: #8c7476;
  color: white;
}
.whisper-component-full > .right .chater-container .top .option-container .option-list .option-item:last-child {
  margin-right: 0;
}
.whisper-component-full > .right .chater-container .top .option-container .operation-list {
  font-size: 0;
  float: right;
}
.whisper-component-full > .right .chater-container .top .option-container .operation-list .operation-item {
  display: inline-block;
  margin-right: 10px;
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 25px;
  height: 25px;
  font-size: 12px;
  background-color: #8c7476;
  color: white;
}
.whisper-component-full > .right .chater-container .top .option-container .operation-list .operation-item:last-child {
  margin-right: 0;
}
.whisper-component-full > .right .chater-container .top .inputer-container {
  display: block;
  resize: none;
  width: 100%;
  padding: 5px;
  border: 0;
  height: 115px;
}
.whisper-component-full > .right .chater-container .bottom {
  height: 40px;
}

/**
 * 对话框

 <div class="@prefix-message-item $message-item">
 	<div class="friend-avatar-container">
 		<img class="user-avatar-5x">
 	</div>
 	<div class="friend-info">
 		<div class="friend-name"></div>
 		<div class="friend-message"></div>
 	</div>
 </div>
*/
.friend-message-item {
  position: relative;
}
.friend-message-item:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 42px;
  border-top: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #c0b6b8;
}
.friend-message-item .friend-avatar-container {
  margin-right: 5px;
  float: left;
  font-size: 0;
}
.friend-message-item .friend-avatar-container .user-avatar-5x {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(164, 142, 146, 0.1);
  border-radius: 50%;
}
.friend-message-item .friend-info {
  overflow: hidden;
}
.friend-message-item .friend-info .friend-header {
  line-height: 25px;
  height: 25px;
  font-size: 12px;
}
.friend-message-item .friend-info .friend-header .friend-send-time {
  float: right;
}
.friend-message-item .friend-info .friend-message-container {
  display: inline-block;
  position: relative;
  float: left;
  padding: 5px 10px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #c0b6b8;
}

.my-message-item {
  position: relative;
}
.my-message-item:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 42px;
  border-top: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #c0b6b8;
}
.my-message-item .my-avatar-container {
  margin-left: 5px;
  float: right;
  font-size: 0;
}
.my-message-item .my-avatar-container .user-avatar-5x {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(164, 142, 146, 0.1);
  border-radius: 50%;
}
.my-message-item .my-info {
  overflow: hidden;
}
.my-message-item .my-info .my-header {
  line-height: 25px;
  height: 25px;
  font-size: 12px;
}
.my-message-item .my-info .my-header .my-name {
  float: right;
}
.my-message-item .my-info .my-header .my-send-time {
  float: left;
}
.my-message-item .my-info .my-message-container {
  display: inline-block;
  position: relative;
  float: right;
  padding: 5px 10px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #c0b6b8;
}

/**
 * 贡献者列表

<li class="contributor-item i-contributor-item">
	<div class="contributor-avatar-container">
		<img class="contributor-avatar-5x">
	</div>
	<div class="contributor-info">
		<span class="contributor-name"></span>
	</div>
</li>
 */
.contributor-item {
  position: relative;
  overflow: hidden;
}
.contributor-item .contributor-avatar-container {
  float: left;
  margin-right: 5px;
  font-size: 0;
}
.contributor-item .contributor-avatar-container .contributor-avatar-5x {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}
.contributor-item .contributor-info {
  overflow: hidden;
}
.contributor-item .contributor-info .contributor-name {
  height: 25px;
  line-height: 25px;
}

/**
 * chat 的图层
 */
.chat-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  pointer-events: none;
}
.chat-layer .chat-component-full {
  position: relative;
  height: 500px;
  width: 600px;
  border: 1px solid #a48e92;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #a48e92;
}
.chat-layer .chat-component-full > .header {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}
.chat-layer .chat-component-full > .body {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 100%;
}
.chat-layer .chat-component-full > .body > .right {
  float: right;
  border-left: 1px solid rgba(164, 142, 146, 0.1);
  width: 200px;
  height: 100%;
  /* 参与者列表 */
}
.chat-layer .chat-component-full > .body > .right > .contributor-info {
  margin: 0 5px;
  height: 25px;
  line-height: 25px;
}
.chat-layer .chat-component-full > .body > .right > .contributor-info .sort-type {
  float: left;
}
.chat-layer .chat-component-full > .body > .right > .contributor-info .sort-type .i-circle-5x {
  margin-right: 5px;
}
.chat-layer .chat-component-full > .body > .right > .contributor-info .contributor-count {
  float: right;
}
.chat-layer .chat-component-full > .body > .right .contributor-list-wrap .contributor-list {
  overflow: hidden;
}
.chat-layer .chat-component-full > .body > .right .contributor-list-wrap .contributor-list .i-contributor-item {
  margin: 5px;
}
.chat-layer .chat-component-full > .body > .left {
  position: relative;
  overflow: hidden;
  height: 100%;
  /* 聊天框 */
  /* 输入框 */
}
.chat-layer .chat-component-full > .body > .left .chat-container {
  position: absolute;
  top: 0;
  bottom: 140px;
  width: 100%;
  overflow: hidden;
}
.chat-layer .chat-component-full > .body > .left .chat-container .message-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 100%;*/
}
.chat-layer .chat-component-full > .body > .left .chat-container .message-content .i-message-item {
  margin: 25px 5px;
}
.chat-layer .chat-component-full > .body > .left .chater-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.chat-layer .chat-component-full > .body > .left .chater-container .top {
  margin: 5px;
}
.chat-layer .chat-component-full > .body > .left .chater-container .top .option-container {
  margin-bottom: 5px;
  height: 25px;
  /* 文字处理选项 */
  /* 文字 IO 选项 */
}
.chat-layer .chat-component-full > .body > .left .chater-container .top .option-container .option-list {
  display: inline-block;
  font-size: 0;
}
.chat-layer .chat-component-full > .body > .left .chater-container .top .option-container .option-list .option-item {
  display: inline-block;
  margin-right: 10px;
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 25px;
  height: 25px;
  font-size: 12px;
  background-color: #8c7476;
  color: white;
}
.chat-layer .chat-component-full > .body > .left .chater-container .top .option-container .option-list .option-item:last-child {
  margin-right: 0;
}
.chat-layer .chat-component-full > .body > .left .chater-container .top .option-container .operation-list {
  font-size: 0;
  float: right;
}
.chat-layer .chat-component-full > .body > .left .chater-container .top .option-container .operation-list .operation-item {
  display: inline-block;
  margin-right: 10px;
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 25px;
  height: 25px;
  font-size: 12px;
  background-color: #8c7476;
  color: white;
}
.chat-layer .chat-component-full > .body > .left .chater-container .top .option-container .operation-list .operation-item:last-child {
  margin-right: 0;
}
.chat-layer .chat-component-full > .body > .left .chater-container .top .inputer-container {
  height: 115px;
}
.chat-layer .chat-component-full > .body > .left .chater-container .bottom {
  height: 40px;
}

/**
 * 原型设计页面的 底部 工具栏
 */
.skill-layer {
  position: fixed;
  bottom: 50px;
  display: inline-block;
  left: 50%;
  margin-left: -234.5px;
  text-align: center;
  z-index: 800;
  /**
   * 技能栏
   */
}
.skill-layer .skill-component {
  position: relative;
  display: inline-block;
  font-size: 0;
}
.skill-layer .skill-component .skill-list {
  margin-bottom: 5px;
}
.skill-layer .skill-component .skill-list:last-child {
  margin-bottom: 0;
}
.skill-layer .skill-component .skill-list .skill-item {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #a48e92;
  border-radius: 5px;
  line-height: 40px;
  color: #8c7476;
  font-size: 12px;
  /**
   * 技能栏里的头像
   */
}
.skill-layer .skill-component .skill-list .skill-item:last-child {
  margin-right: 0;
}
.skill-layer .skill-component .skill-list .skill-item .skill-name {
  display: block;
}
.skill-layer .skill-component .skill-list .skill-item .skill-avatar {
  display: block;
  width: 40px;
  height: 40px;
}

.main-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 899;
  /* 技能栏移动到顶部 */
  /* 注册框 */
  /* 登陆框 */
  /* 个人主页 */
}
.main-layer .skill-top-component {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: white;
}
.main-layer .skill-top-component .skill-list-container {
  margin: 0 auto;
  width: 1200px;
  height: 40px;
  font-size: 0;
}
.main-layer .skill-top-component .skill-list-container .skill-list {
  display: inline-block;
  height: 40px;
}
.main-layer .skill-top-component .skill-list-container .skill-list .skill-item {
  position: relative;
  display: inline-block;
}
.main-layer .skill-top-component .skill-list-container .skill-list .skill-item .skill-item-link {
  display: block;
  font-size: 12px;
  padding: 0 15px;
}
.main-layer .skill-top-component .skill-list-container .skill-list .skill-item .skill-item-search {
  margin-top: 10px;
  margin-left: 15px;
  color: white;
  background-color: #ccd1d9;
  border: 1px solid #ccd1d9;
  padding: 0 10px;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 12px;
  width: 200px;
  height: 20px;
  line-height: 20px;
}
.main-layer .skill-top-component .skill-list-container .skill-list .skill-item .skill-item-search:hover {
  color: #ccd1d9;
  background-color: white;
}
.main-layer .skill-top-component .skill-list-container .skill-list:last-child {
  float: right;
}
.main-layer .signup-component, .main-layer .signin-component {
  margin-top: 50px;
  text-align: center;
}
.main-layer .signup-component .card-list .operation-container, .main-layer .signin-component .card-list .operation-container {
  margin-top: 25px;
  text-align: center;
}
.main-layer .signup-component .card-list .operation-container .i-r-submit, .main-layer .signin-component .card-list .operation-container .i-r-submit {
  display: inline-block;
  width: 289px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  transition: all 0.25s ease-in-out 0s;
}
.main-layer .signup-component .card-list .type-input .card-avatar-container, .main-layer .signin-component .card-list .type-input .card-avatar-container {
  border: 1px solid #aab2bd;
  background-color: #ccd1d9;
  color: white;
}
.main-layer .signup-component .card-list .card-item .card-wrap, .main-layer .signin-component .card-list .card-item .card-wrap {
  display: inline-block;
  margin-bottom: 25px;
}
.main-layer .signup-component .card-list .card-item .card-wrap .left, .main-layer .signin-component .card-list .card-item .card-wrap .left {
  float: left;
  margin-right: 15px;
}
.main-layer .signup-component .card-list .card-item .card-wrap .left .card-avatar-container, .main-layer .signin-component .card-list .card-item .card-wrap .left .card-avatar-container {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
}
.main-layer .signup-component .card-list .card-item .card-wrap .left .card-illustate, .main-layer .signin-component .card-list .card-item .card-wrap .left .card-illustate {
  width: 50px;
  height: 50px;
}
.main-layer .signup-component .card-list .card-item .card-wrap .right, .main-layer .signin-component .card-list .card-item .card-wrap .right {
  overflow: hidden;
  line-height: 25px;
}
.main-layer .signup-component .card-list .card-item .card-wrap .right .info-container .i-r-input, .main-layer .signin-component .card-list .card-item .card-wrap .right .info-container .i-r-input {
  margin-bottom: 10px;
  padding: 0 10px;
  width: 200px;
  border-radius: 5px;
  color: #656d78;
}
.main-layer .signup-component .card-list .card-item .card-wrap .right .info-container .condition-list, .main-layer .signin-component .card-list .card-item .card-wrap .right .info-container .condition-list {
  text-align: left;
}
.main-layer .signup-component .card-list .card-item .card-wrap .right .info-container .condition-list .condition-item, .main-layer .signin-component .card-list .card-item .card-wrap .right .info-container .condition-list .condition-item {
  line-height: 20px;
  color: #aab2bd;
}
.main-layer .signup-component .card-list .card-item .card-wrap .right .info-container .i-r-result, .main-layer .signin-component .card-list .card-item .card-wrap .right .info-container .i-r-result {
  text-align: left;
}
.main-layer .signup-component .card-list .card-item .card-wrap .right .info-container .avatar-wrapper, .main-layer .signin-component .card-list .card-item .card-wrap .right .info-container .avatar-wrapper {
  font-size: 100%;
}
.main-layer .signup-component .part-two, .main-layer .signin-component .part-two {
  margin-top: 200px;
}
.main-layer .signin-component {
  margin-top: 200px;
  text-align: center;
}
.main-layer .signin-component .form-container {
  text-align: left;
  display: inline-block;
}
.main-layer .signin-component .form-container .i-input-array {
  margin-bottom: 25px;
}
.main-layer .home-component, .main-layer .signup-component {
  /* 印象图 */
  /* 头像 以及 统计 */
  /* 个人信息 以及 主要信息展示 */
}
.main-layer .home-component .impression-component .impression-container, .main-layer .signup-component .impression-component .impression-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.main-layer .home-component .impression-component .impression-container .impression-5x, .main-layer .signup-component .impression-component .impression-container .impression-5x {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.main-layer .home-component .statistics-component, .main-layer .signup-component .statistics-component {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 50px;
  line-height: 50px;
  /* 头像 */
  /* 统计 */
}
.main-layer .home-component .statistics-component .user-avatar-container, .main-layer .signup-component .statistics-component .user-avatar-container {
  position: absolute;
  top: -120px;
  border: 2px solid white;
  border-radius: 5px;
}
.main-layer .home-component .statistics-component .user-avatar-container .user-avatar-5x, .main-layer .signup-component .statistics-component .user-avatar-container .user-avatar-5x {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.main-layer .home-component .statistics-component .statistics-container .statistics-list, .main-layer .signup-component .statistics-component .statistics-container .statistics-list {
  margin-left: 275px;
  font-size: 0;
}
.main-layer .home-component .statistics-component .statistics-container .statistics-list .statistics-item, .main-layer .signup-component .statistics-component .statistics-container .statistics-list .statistics-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 12px;
}
.main-layer .home-component .statistics-component .statistics-container .statistics-list .statistics-item:last-child, .main-layer .signup-component .statistics-component .statistics-container .statistics-list .statistics-item:last-child {
  float: right;
}
.main-layer .home-component .statistics-component .statistics-container .statistics-list .statistics-item .statistics-count, .main-layer .signup-component .statistics-component .statistics-container .statistics-list .statistics-item .statistics-count {
  display: block;
  padding: 0 15px;
  min-width: 50px;
  font-size: 50px;
  color: rgba(172, 146, 236, 0.2);
}
.main-layer .home-component .statistics-component .statistics-container .statistics-list .statistics-item .item-name, .main-layer .signup-component .statistics-component .statistics-container .statistics-list .statistics-item .item-name {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main-layer .home-component .info-component-wrap, .main-layer .signup-component .info-component-wrap {
  width: 100%;
  background-color: rgba(204, 209, 217, 0.2);
}
.main-layer .home-component .info-component-wrap .info-component, .main-layer .signup-component .info-component-wrap .info-component {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.main-layer .home-component .info-component-wrap .info-component > .left, .main-layer .signup-component .info-component-wrap .info-component > .left {
  float: left;
  margin-left: -100%;
  width: 250px;
}
.main-layer .home-component .info-component-wrap .info-component > .left .info-container, .main-layer .signup-component .info-component-wrap .info-component > .left .info-container {
  margin-top: 30px;
}
.main-layer .home-component .info-component-wrap .info-component > .left .info-container .user-name, .main-layer .signup-component .info-component-wrap .info-component > .left .info-container .user-name {
  line-height: 50px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap, .main-layer .signup-component .info-component-wrap .info-component .center-wrap {
  width: 100%;
  float: left;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center {
  margin: 0 300px 0 250px;
  left: 250px;
  right: 300px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .state-component, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .state-component {
  margin: 15px 25px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .state-component .state-no-card, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .state-component .state-no-card {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  line-height: 300px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccd1d9;
  background-color: rgba(204, 209, 217, 0.5);
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .state-component .state-no-card .state-illustate, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .state-component .state-no-card .state-illustate {
  font-size: 30px;
  color: white;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .type-note .card-avatar-container, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .type-note .card-avatar-container {
  border: 1px solid #d770ad;
  background-color: #ec87c0;
  color: white;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .type-project .card-avatar-container, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .type-project .card-avatar-container {
  border: 1px solid #967adc;
  background-color: #ac92ec;
  color: white;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .type-store .card-avatar-container, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .type-store .card-avatar-container {
  border: 1px solid #3bafda;
  background-color: #4fc1e9;
  color: white;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .type-input .card-avatar-container, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .type-input .card-avatar-container {
  border: 1px solid #3bafda;
  background-color: #4fc1e9;
  color: white;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item {
  margin: 15px 25px 50px 25px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .left, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .left {
  float: left;
  margin-right: 15px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .left .card-avatar-container, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .left .card-avatar-container {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .left .card-avatar-5x, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .left .card-avatar-5x {
  width: 50px;
  height: 50px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right {
  overflow: hidden;
  line-height: 25px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right .info-container .title, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right .info-container .title {
  font-size: 16px;
  font-weight: 700;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right .info-container .date, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right .info-container .date {
  line-height: 20px;
  font-size: 12px;
  color: #aab2bd;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right .info-container .content, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right .info-container .content {
  font-size: 14px;
}
.main-layer .home-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right .info-container .i-r-input, .main-layer .signup-component .info-component-wrap .info-component .center-wrap .center .card-list .card-item .right .info-container .i-r-input {
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: #656d78;
}
.main-layer .home-component .info-component-wrap .info-component > .right, .main-layer .signup-component .info-component-wrap .info-component > .right {
  float: left;
  margin-top: 15px;
  margin-left: -300px;
  width: 300px;
}
.main-layer .home-component .info-component-wrap .info-component > .right .create-menu-container .create-menu-list .create-menu-item, .main-layer .signup-component .info-component-wrap .info-component > .right .create-menu-container .create-menu-list .create-menu-item {
  display: block;
  margin-right: 1px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: white;
  color: #4fc1e9;
  cursor: pointer;
}

* {
  /* background-color: rgba($color_wave, .3);*/
}

#satori {
  position: relative;
}

a {
  transition: all 0.15s ease-in-out 0s;
  text-decoration: none;
}

a:link {
  color: #5d9cec;
}

a:visited {
  color: #5d9cec;
}

a:hover {
  color: #ec87c0;
}

a:active {
  color: #ec87c0;
}
