/**
 * 分支
 */
 .branch-layer {
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	z-index: $branch-layer;
 	pointer-events: none;

 	.branch-component {
 		position: absolute;
 		left: 0;
 		right: 0;
 		margin: 50px auto 0;

 		width: 800px;
 		height: 100%;

 		.branch-panel-wrap {
 			position: relative;
 			width: 100%;
 			height: 100%;
 			overflow: hidden;
 			.branch-panel {
 				position: absolute;
 				display: inline-block;
 				margin: 50px 5px;
 				font-size: 0;
 				white-space: nowrap;
 				.cross {
 					position: absolute;
 					top: 0;
 					bottom: 0;
 					left: 22px;
 					margin: auto 0;

 					width: 100%;
 					height: 2px;
 					background-color: rgba($color_grape_darken, .5);
 				}

 				.point-model {
 					position: relative;
 					display: inline-block;
 					margin-right: 50px;

 					text-align: center;
 					.update-time {
 						display: block;
 						height: 30px;
 						line-height: 30px;

 						font-size: 12px;
 					}
 					.sl-point {
 						display: inline-block;
 						position: relative;

 						width: 10px;
 						height: 10px;
 						border-radius: 50%;
 						background-color: rgba($color_grape_darken, .5);

 						&:before {
 							position: absolute;
 							left: -(40 / 2 - 10 / 2)+px;
 							top: -(40 / 2 - 10 / 2)+px;
 							content: '';
 							width: 40px;
 							height: 40px;
 							background-color: rgba($color_white, .6);
 							border-radius: 50%;
 						}
 					}
 					.point-name {
 						height: 30px;
 						line-height: 30px;

 						font-size: 12px;
 					}

 					&:last-child {
 						margin-right: 0;
 					}
 				}

				.point-add-wrap {
					position: absolute;
					top: 12px;
					display: inline-block;
	 				.point-add {
						width: 40px;
						height: 40px;
						border: 2px dotted rgba($color_grape_darken, .5);
						border-radius: 50%;

						background-color: rgba($color_grass, 1);
	 				}
				}
 			}
 		}
 	}
 }

